*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(0deg,#185aad,#43cea2); /*การไล่เฉดสี*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
}

.music-container{
    background-color: #fff;
    border-radius:15px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10; /*ย้ายมาข้างหน้าสุด*/
}

.img-container{
    position: relative;
    width: 100px;
}

.img-container img{
    width: inherit;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /*ทำให้รูปพอดีกับหน้าจอ*/
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 5s linear infinite; /*linear เส้นตรง*/
    animation-play-state: paused; /*การเล่น animation*/
}

@keyframes rotate{ /*การตั้งชื่อ และสร้าง animation*/
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.music-container.play .img-container img{ /*ไปที่ .music-container.play .img-container img*/
    animation-play-state:running ; /*ใส่ class play*/
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background: #fff;
    border: 0;
    color: #dfdfdf;
    font-size: 20px;
    padding: 10px;
    margin: 0 20px;
}

.action-btn:hover{/*เวลาชี้*/
    outline: 0;
}

.action-btn:active{ /*เวลาคลิก*/
    transform: scale(0.98); /*ทำให้มันยุบลง*/
}

.music-info{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute; /*ย้ายตำแหน่ง*/
    top: 0;
    width: calc(100%-40px); /* “ทำการคำนวณ” (calc();) เพื่อหาค่าที่ลงตัวใหม่ได้*/
    left: 20px;
    opacity: 0; /*ปิดการแสดงตอนไม่มี class play*/
    transform: translateY(0%);/*ยังไม่ย้ายตำแหน่ง*/
    padding: 10px 10px 10px 150px; /*ให้ภาพไม่โดนมาริโอ้ทับ*/
    transition: transform 0.3s ease-in , opacity 0.3s ease-in; /*ทำให้เคลื่อนไหวเวลากดเล่นใน .play*/
}

.music-container.play .music-info{ /*ใส่ class play*/
    transform: translateY(-100%); /*การย้ายตำแหน่ง*/
    opacity: 1;
}

.music-info h4{ /*ใส่ผิด container ต้องเป็น info*/
    margin: 0;/*เพราะว่าจะใส่ progress-bar*/
}

.progress-container{ /*อยู่ด้านหลัง*/
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius:5px ;
    cursor: pointer;
    margin: 10px 0;/*บนล่าง ซ้ายขวา*/
}

.progress{ /*อยู่ด้านหน้า*/
    background-color: red;
    width: 0%; /*เริ่มต้นตอนเล่นเป็น 0*/
    height: 100%; /**/
    border-radius: 5px;
    transition: width 0.1s linear; /*reset เริ่มต้นใหม่ของเพลง*/
}