*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.calculator{
    background-color: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px  -5px rgba(0, 0, 0,0.6);
}

.calculator-display{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end; /*ไปอยู่มุมท้าย*/
    align-items: center;
    border-radius: 10px 10px 0 0; /*top rigth left bottom*/
}

.calculator-display h1{
    font-size: 45px;
    margin: 0; /*ระยะห่างขอบนอก*/
    padding: 25px;
    font-weight: 100;
    overflow-x: auto; /*ให้แสดงตัวเลขไม่ล้นจอ*/
}

.calculator-button{
    display: grid;
    grid-template-columns: repeat(4,1fr);/*4 คอมลัม 1 แถวกินพื้นที่ไป เมื่อเกิน 4 แถว*/
    gap:10px; /*ช่องว่างระหว่างปุ่ม gap*/
    padding: 10px;
}

.equal{
    grid-column: -2; /*ย้ายมุมท้ายสุด*/
    grid-row: 2/span 4; /*กินพื้นแถว 2 ไป 4 ส่วน*/
}

button{
    min-height: 50px;/*responsive*/
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: rgb(199, 199, 199);
}

button:hover{
    filter: brightness(110%); /*ใส่ฟิลเตอร์ คล้ายๆกับกระพริบ*/
}

button:active{
    transform: translateY(1px); /*ทำให้ปุ่มเหมือนขยับได้ ขยายเคลื่อนที่ไปแนวตั้งไปทางแกน Y 1px*/
}

.operator,.equal{
    background-color: orange;
    color: white;
    font-size: 30px;
}

@media screen and (max-width:600px){ /*responsive*/
    .calculator{
        width: 95%;
    }
}