*{
    box-sizing: border-box;
}
body{
    width: 100vw; /*เต็ม view port*/
    height: 100vh;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control{
    border: none; /*ปิดเส้น*/
    outline: none; /*ปิดเส้นสีดำ*/
}
.control:active{ /*เวลาคลิก*/
    transform: scale(0.98); /*ย่อ ลด ขนาด*/
}
.record{
    color: #fff;
    background: red;
}
.pause{
    color: #fff;
    background: blue;
}
.title{
    color: #fff;
    background: orange;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100vw; /*เต็ม view port*/
}