*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.container{
    width: 700px;
    max-width: 100%;
    margin:0 auto;
    padding: 10px;
}

img{
    width: 700px;
    max-width: 100%;/*ความกว้างสูงสุด*/
}

.text{ /*ปิด*/
    opacity: 0;
    transform: translateY(15px);
    transition: 0.5s all ease;
}

.text.show-reveal{ /*เปิด*/
    opacity: 1;
    transform: translateY(0px);
}

 