*{
    box-sizing: border-box;
}
body{ /*ทำทุกๆส่วน*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
img{
    width: 500px; /*พิกัดแกน x แนวตั้ง ทีละ 500 px*/
    height: 500px;
    object-fit: cover;
}
.carousel{
    width: 500px;
    overflow: hidden; /*ปิดเนื้อหาที่ล้น*/
    height: 530px; /*กิน 30 Px ที่เหลือ ยัดปุ่มเข้าไป*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.img-container{ 
    display: flex; /*ทำให้ปุ่มแสดง*/
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    background: purple;
    color: #fff;
    border: 0; /*ปิดขอบ*/
    padding: 0.5rem;
    width: 49.5%;
    cursor: pointer;
}
.btn:hover{ /*ใส่ effect ปุ่ม*/
    opacity: 0.9;
}